html {
  font-size: 16px;
}

.App {
  text-align: center;
  margin-bottom: 0.5em;
  box-shadow: #222222 0 4px 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
